obesity_data/obesity_patient_records_test.xml
obesity_data/obesity_patient_records_training.xml
obesity_data/obesity_patient_records_training2.xml
obesity_data/obesity_standoff_annotations_test_intuitive_template.xml
obesity_data/obesity_standoff_annotations_test_intuitive.xml
obesity_data/obesity_standoff_annotations_test_textual_template.xml
obesity_data/obesity_standoff_annotations_test_textual.xml
obesity_data/obesity_standoff_annotations_test.xml
obesity_data/obesity_standoff_annotations_training_addendum.xml
obesity_data/obesity_standoff_annotations_training_addendum2.xml
obesity_data/obesity_standoff_annotations_training_addendum3.xml
obesity_data/obesity_standoff_annotations_training.xml
obesity_data/obesity_standoff_intuitive_annotations_training.xml
obesity_data/obesity_standoff_textual_annotations_training.xml
